body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding:0;
    background-color: #ffbfee;
    font-family: 'Courgette', sans-serif;
    overflow-x: hidden;
    
}

#content {
    height: 100vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 12rem;
    font-family: 'Pacifico', sans-serif;
    color: #ff3651;
    text-shadow: 1px 5px white;
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    font-size:5rem;
    font-family: 'Pacifico', sans-serif;
    color: #ff3651;
    text-shadow: 1px 5px white;
    margin: 0;
    margin-bottom: 20px;
}

@keyframes scrollLeft {
    from {
        background-position: 100px;
    }

    to {
        background-position: 0;
    }
}

@keyframes scrollRight {
    from {
        background-position: 0;
    }

    to {
        background-position: 100px;
    }
}

.hearts {
    height: 100px;
    min-height: 100px;
    width: 100vw;
    background-image: url('heart-01.png');
    background-repeat: repeat-x;
}

#top {
    animation: scrollLeft 5s linear infinite;
}

#bottom {
    animation: scrollRight 5s linear infinite;
}

#pitch{
    margin: 100px 0vh;
    width:100vw;
    overflow: hidden;
    text-align: center;
}

.summary{
    margin:auto;
    text-align: center;
    background-image: url("classroom.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#innerSum{
    width:60%;
    margin:auto;
    background-color: rgba(235,245,255,0.97);
}

.summary h2{
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.summary p{
    padding-bottom:30px;
    width:80%;
    margin:auto;
}

p{
    margin-top:0px;
    text-align: left;
    color:#ff3651;
    font-size: 2.5rem;
}

.info{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    width:100vw;
    margin:7vh auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info img{
    max-width: 450px;
    padding-bottom: 50px;
}

.info h2{
    grid-column: 2/3;
    padding: 0px 100px;
    margin-bottom: 10px;
}

.info i{
    font-style:normal;
    font-size: 3.5rem;
}

.info a{
    color: #ff3651;
}

.info a:hover{
    color:white;
    text-shadow: 1px 5px #ff3651;
    cursor: pointer;
}

.info p{
    grid-column: 2/3;
}

.portrait{
    width:100%;
    margin:auto;
    text-align: center;
}

.names{
    margin-top:-200px;
    text-align: center;
    font-size: 5rem;
    color: #ff3651;
    text-shadow: 1px 3px white;
}

.names ul{
    font-weight: bold;
    list-style-type: none;
}

.names ul li{
    padding-bottom: 20px;
}

/* Taken from: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fcd4f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff3651;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b80f25;
  }
